h1{
    color: aliceblue;
    background-color:darkcyan;
    margin-left: 40px;
    margin-right: 220px;
    margin-top:1px;
}
h2{
    background-color: aquamarine;
    
    margin-right: 200px;
}
h3{
    background-color: aquamarine;
    
    margin-right: 300px;
}
html{
 background-color:papayawhip;
}
